<!DOCTYPE html>

<html>

<head>
    <title>gamerworlde</title>
    <link rel="stylesheet" href="/public/css/mystyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/algolia-min.css"
        integrity="sha256-HB49n/BZjuqiCtQQf49OdZn63XuKFaxcIHWf0HNKte8=" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/home.css">
</head>

<body>
    <nav class="navbar is-fixed-top is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                <img src="/public/img/gamerWorldeLogo.png">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                </div>
                <div class="navbar-item">
                    <div class="ais-InstantSearch">
                        <div id="searchbox"></div>
                    </div>

                    <div class="buttons">
                        <a class="button is-primary" id="logout">
                            <strong>Log out</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container is-fluid">
            <div class="columns">
                <div id="userContent" class="column is-one-quarter">
                    <div class="card" id = "profileC2">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-96x96">
                                        <img src="/public/img/icons/creeper.png"
                                            alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content" id="userCard">
                                    This is your profile, <p id="userNameHere"></p>
                                </div>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item" id = "toHome">Back to home</a>
                        </footer>
                    </div>
                </div>

                <div id="feedContent" class="column"></div>
            </div>
    </section>
    <div id="editForm" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Edit your review</p>
                </header>
                <section class="modal-card-body">
                    <form id="newEditForm">
                    </form>
                </section>
                <footer class="modal-card-foot">
                    <button id="submitEdit" class="button is-success">Submit</button>
                    <button id="cancelEdit" class="button">Cancel</button>
                </footer>
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/node_modules/axios/dist/axios.js"></script>
    <script src="/public/js/requests.js"></script>
    <script src="/public/js/home/profile.js"></script>

</body>

</html>