<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Gamerworlde
    </title>
    <link rel="stylesheet" href="/public/css/mystyles.css">
</head>

<body>

    <!--
        <div id="screenBarTop"> </div>
       <img visibility=hidden id="mainLogo" src="/public/img/gamerWorldeLogo.png"> 
    -->

    <section id="section" class="section">
        <div class="container">
            <div id="loginForm" class="card">
                <div class="card-content">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            <input class="input is-hovered" type="text" name="username" id="username" placeholder="Username">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input is-hovered" type="password" name="password" id="password" placeholder="Password">
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" id="login">Login</button>
                        </div>
                        <div class="control">
                            <button class="button is-primary is-light" id="createAccount">Create Account</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/public/node_modules/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="module" src="/public/js/login.js"></script>
</body>

</html>