.heartRating {
    height: 20px;
    width: 25px;
    margin-right: 5px;
}

.card {
    margin-bottom: 30px;
}

.section {
    margin-top: 40px;
}

#ratingNum {
    margin-left: 10px;
}

body { 
    font-family: sans-serif;
    padding: 1em;

}
.ais-SearchBox {
    margin: 1em 0;
}

.review-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid rgb(40,40,40);
}

.review-footer-item, .review-footer-button {
    margin: 0 0 0 1rem;
}

.review-footer-item {
    padding: 0.5rem 0 0.5rem 0;
}
