.heartRating {
    height: 30px;
    width: 35px;
    margin-right: 5px;
}

.card {
    margin-bottom: 30px;
}

.section {
    margin-top: 40px;
}

#ratingNum {
    margin-left: 10px;
}

body { 
    font-family: sans-serif;
    padding: 1em;

}
.ais-SearchBox {
    margin: 1em 0;
}
