#topBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("/public/img/dark-wood-background-.jpg");
    height: 100px;
    background-size: auto;
    background-position: center;
}

#myNav {
    position: fixed;
    margin-top: 50px;
    margin-left: 75%;
    text-decoration-color: white;
}

#nav {

    padding: 5px;
    margin-left: 5px;
    text-decoration-color: white;
}

#mainLogo {
    margin-left: 15px;
    margin-top: 20px;
    height: 75px;
    width: auto;
}

html {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/public/img/pexlated-wood.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
    background-position: center;
}

#blackBar {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 10px;
    margin-top: 100px;
}

#feedContent {
    position: relative;
    background-color:  black;
    min-height: 1000px;
    height: auto;
    margin-top: 50px;
}

#userContent {
    position: fixed;
    margin-top: 25px;
    margin-left: auto;
    width: 25%;
    height: auto;
}

#userIco {
    size: 128px;
}

#nameOfUser {
    margin-left: 25%;
}