<!DOCTYPE html>
<html>

<head>
    <title>Gamer Worlde</title>
    <link rel="stylesheet" href="/node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/public/css/homeStyle.css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand" id="topBar">
                <img visibility=hidden id="mainLogo" src="/public/img/gamerWorldeLogo.png">
        </div>
        <div class="navbar-menu">
            <div class="navbar-start" id="myNav">
            <a class="button is-dark" id="nav" href="./">
                    Create Account
                </a>
            <a class="button is-dark" id="nav" href="/views/login.html">
                    Login
                </a>
            </div>
            <div class="navbar-end"></div> 
            <div id="blackBar"></div> 
        </div>
    </nav>
   <!-- <div id="blackBar"></div> -->
    <section class="section">
        <div class="container">
            <div class="columns">
                <div id="feedContent" class="column">
                </div>
                <div class="column is-one-quarter">

                    <div id="userContent" class="box">
                        <div id="nameOfUser"> User Name Here.</div>
                        <figure class="image is-square">
                            <img class="is-rounded" id="userIco" src="/public/img/twins.png">
                        </figure>
                        <span id="userBio"> If you're reading this. You aren't logged in.
                             That is an oof. Go hit the create account button at the top.</br></span>
                        <div class="button is-dark" id="buttonWriteReview"> Write a Review </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script src='../node_modules/jquery/dist/jquery.js'></script>
    <script src="../node_modules/axios/dist/axios.js"></script>
    <script src="/public/js/homeRender.js" type="module"></script>
</body>

</html>