<!DOCTYPE html>
<html>

<head>
    <title>Gamer Worlde</title>
    <link rel="stylesheet" href="/node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/public/css/homeStyle.css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand" id="topBar">
                <img visibility=hidden id="mainLogo" src="/public/img/gamerWorldeLogo.png">
        </div>
        <div class="navbar-menu">
            <div class="navbar-start" id="myNav">
            <a class="button is-dark" id="nav" href="./">
                    Create
                </a>
            <a class="button is-dark" id="nav" href="/views/index.html">
                    Login
                </a>
            </div>
            <div class="navbar-end"></div> 
            <div id="blackBar"></div> 
        </div>
    </nav>
   <!-- <div id="blackBar"></div> -->
    <section class="section">
        <div class="container">
            <div class="columns">
                <div id="feedContent" class="column">
                </div>
                <div class="column is-one-quarter">
                    <div id="userContent" class="box">user info
                        <figure class="image is-square">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>